* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.section-head {
  margin-bottom: 60px;
}
#img_icon {
  height: 78%;
  width: 78%;
  border-radius: 50%;
  margin-top: -14px;
}
.section-head h4 {
  position: relative;
  padding: 0;
  color: #ffa203;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}
.section-head h4::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #ffa203;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}
.section-head p {
  color: #818181;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-bottom: 30px;
  height: 450px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  box-shadow: 5px 6px 11px #e68928;
}
.myclass {
  justify-items: center;
}

#content {
  text-align: left;
}
.item:hover {
  background: #ff8503;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon {
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover h6,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #f91942;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature_box_col_one {
  background: rgba(247, 198, 5, 0.2);
  color: #f91942;
}
.item .feature_box_col_two {
  background: rgba(255, 77, 28, 0.15);
  color: #f91942;
}
.item .feature_box_col_three {
  background: rgba(0, 147, 38, 0.15);
  color: #f91942;
}
.item .feature_box_col_four {
  background: rgba(0, 108, 255, 0.15);
  color: #f91942;
}
.item .feature_box_col_five {
  background: rgba(146, 39, 255, 0.15);
  color: #f91942;
}
.item .feature_box_col_six {
  background: rgba(23, 39, 246, 0.15);
  color: #f91942;
}
.item p {
  font-size: 15px;
  line-height: 26px;
}
.item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
#number {
  border-radius: 55%;
  background-color: black;
  color: white;
  height: 11%;
  width: 9%;
  text-align: center;
}
button {
  padding: 4px;
  height: 20%;
  width: 50%;
  background-color: #000000;

  border: 2px solid black;
  font-weight: bold;
  border-radius: 55px;
}
button:hover {
  padding: 4px;
  height: 20%;
  width: 50%;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 55px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: white;
}
